@import url("../Login.css");


header {
    font-size: 5em;
    text-align: center;
    margin: 5px;
}

.lobby {
    background: rgb(42, 172, 16);
    padding: 5px;
    border: solid 2px black;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.lobby h1 {
    flex: 1 0 100%;
}

.lobby div {
    width: 100%;
}

.lobby button {
    background-color: green;
    flex-grow: 0;
    margin: 2px
}

.lobby button:first-of-type {
    margin-left: auto !important;
}

.lobbies {
    padding: 10px;
    height: 80vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#lobby-list {
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
}

.lobby-buttons {
    display: flex;
    gap: 10px;
    align-self: center;
    margin-top: auto;
}

.new-lobby-button {
    font-size: 30px;
}

.create-modal {
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgreen;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30vw;
    height: min-content;
    margin: auto ;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    /* align-items: center; */
    padding: 12px;
}

.create-modal h1 {
    width: 100%;
    text-align: center;
}

.create-modal > form {
    /* overflow-x: hidden; */
    margin: 0 20%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2px;   
    align-items: center;
}

.create-modal.visible {
    opacity: 1;
    transform: translateY(0);
}

.rule-mapping {

}

input[name="gamename"] {
    width: 100%;
    text-align: center;
}

input[name="playercount"] {
    width: 100%;
    text-align: center;
}

input[name="aicount"] {
    width: 100%;
    text-align: center;
}

.rule-mappings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.rule-mapping {
    display: flex ;
    gap: 3px;
}

.modal-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}