body {
    background: rgb(91,197,70);
    background: radial-gradient(farthest-side at 50% 37%, rgba(91,197,70,1) 0%, rgba(22,107,5,1) 137%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-form {
    border: solid black 3px;
    background-color: rgba(147, 227, 127, 1);
    border-radius: 5px;
    max-width: 440px;
    max-height: 100%;
    display: flex;
    padding: 10px;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
}

form input#username, form input#password {
    width: 100%;
    box-sizing: border-box;
    border: solid black 2px;
    font-size: 200%;
    text-align: center;
}

.form-input-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .form-button {
    background-color: rgba(44, 236, 79, 1);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    width: 184px;
    padding: 10px;
    margin-top: 24px;
}

.register-link {
    color: black;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

title {
    -webkit-text-stroke: 4px black;
    display: block;
    paint-order: stroke fill;
    font-family: "Mogra", serif;
    font-size: 160px;
    /* background: rgba(253, 225, 248, 1); */
    background: linear-gradient(to right, rgba(253, 225, 248, 1), rgb(221, 37, 187), rgba(253, 225, 248, 1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 24px;
    animation: move 120s linear infinite;
}

@keyframes move {
    to {
        background-position: 4500vh;
    }
}

.form-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
